body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #e6ffff;
    font-family: sans-serif;
  }
  
  .slider-container { 
    
    margin-top: 30PX;
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;
    overflow: hidden;
  
  }
  
  .slider { 
    margin-top: 20px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
  
  }
  
  .slide img {
    width: 1519px;
    height: 600px;
  
  }
  
  .dots-container {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 680px;
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    
  }
  
  .dot.active {
    background-color: #000000;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
   .image{
   margin-top: 0;
    width: 800px;
    height: 800px;
   }
   .container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .card {
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
  }
  
  .container:hover > :not(:hover) {
    opacity: 0.2;
  }
  
  .title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
  }
  
  .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
  }
  
  .cards-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #2c5178, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .cards {
    
    display: block;
    position: relative;
    max-width: 400px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .cards:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .cards:hover:before {
    transform: scale(28);
  }
  
  .cards:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .cards:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  .image img{
    filter: blur(8px);
  }
  .bgtext{
    margin: 0;
    padding: 0;
   
    font-weight: bold;
  
    position: absolute;
  
  }
  
  h2{
    display: flex;
    margin-top: -300px;
    background-color: rgb(157, 160, 158);
    margin-left: 0;
    
  }
  .abv{
    display: flex;
    
  }
  h5{
    font-size: 20px;
    
  }
  * {
  
    box-sizing: border-box;
 
  }
  
  .main-container {
    padding: 30px;
  }
  
  .cardss {
    margin-top: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    display: grid;
    min-height: 200px;
    border-radius: 10px;
    transition: all 0.2s;
    grid-template-rows: 20px 50px 1fr 50px;
    box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
  }
  
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  }
  
  .readMore,
  .close,
  .card div {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card div ul {
    display: flex;
    list-style: none;
  }
  
  .card div ul li {
    margin: 0 0.3rem;
    font-size: 1.1rem;
  }
  
  .desc {
    color: rgb(66, 59, 59);
  }
  
  .readMore::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .readMore:hover {
    color: #fff;
  }
  
  .readMore:hover::after {
    width: 100%;
  }
  
  .close {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card div {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .read-more {
    grid-row: 4/5;
    align-self: center;
  }
  
  .card1 {
    background: #3fbafe;
  }
  
  .card2 {
    background:#f7a976;
  }
  
  .card3 {
    background:#b69efe;
  }
  
  .card4 {
    background: #60efbc;
  }
  
  .card5 {
    background: #f588d8;
  }
  
  
  @media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
  }
  /* header css */
  nav {
    background-color: #d2f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px; /* Adjust padding for spacing */
  }
  
  .nevbar {
    display: flex;
    align-items: center;
  }
  
  .img {
    margin-right: 10px; /* Add some space between the image and text */
    max-height: 60px; /* Adjust the max height for better proportion */
  }
  
  h4 {
    margin: 0; /* Remove default margin for cleaner appearance */
    font-size: 30px; /* Adjust font size for better readability */
  }
  
  .nav-link {
    list-style: none;
    display: flex;
  }
  
  .nav-link li {
    margin: 0 15px;
  }
  
  .nav-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px; /* Adjust font size for better readability */
  }
  
  .nav-link li a:hover {
    color: #1ebeb6;
  }
  
  /* Add the following styles for the profile dropdown */
  .profile {
    position: relative;
  }
  
  #dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile:hover #dropdown {
    display: block;
}

#dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown a:hover {
    background-color: #1ebeb6;
    color: #fff;
}

#welcome-text {
    cursor: pointer;
}
.bx-user-circle {
  font-size: 24px; /* Adjust the font size to your desired value */
}
/* Footer */
.para p{
  padding-left: 558px;
}
.footer {
  
  position: relative;
  vertical-align: baseline;
  height: auto !important;
    background-color:#bdf4f2 ;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #e6ffff;
}


.footer-copyright {
    background-color: #63acaa ;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }

.icons{
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.links{
  display: flex;
  justify-content: center;
  gap: 50px;
  
}
a{
  font-weight: bold;
  color:black;
  font-size: medium;
}
p{
  color: black;
}

/* About us */
.small-desc {
  text-align: justify;
}
.abv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cards {
  width: 45%;
}
.other-features h5:hover {
  color:black;
  text-decoration: underline;
  cursor: pointer;
}

.other-features {
  width: 45%;
}

.other-features h5 {
  text-align: center; /* Center the heading above the cards */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 20px auto; /* Add margin for spacing */
}

.card {
  margin-bottom: 20px;
  width: 100%; /* Ensure cards take full width */
}

/* Remove specific styles for .card2 and .card5 */
.card2 {
  width: 100%; /* Ensure .card2 takes full width */
  height: 500px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card5 {
  width: 100%; /* Ensure .card5 takes full width */
  height: 650px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.card5:before {
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #8f7eff, #44a4ff);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card5:hover:before {
  opacity: 0.5;
}

.card5-content {
  width: 500px;
  height: 520px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 1;
  background-color: white;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.card5-content span {
  font-size: 1.7rem;
  font-weight: 700;
}

.card5:hover .card5-content {
  transform: translate(-50%, -50%);
}

/* Services */
.sercard{
  align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    gap: 150px;
    }
    /*Image*/
  .card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
   
    background: linear-gradient(to top, #0a3394, #4286f4);
  }
  
  /*Description */
  .card-description {
    position: absolute;
    gap: .5em;
    flex-direction: column;
    background-color: #afd7d8;
    color: #212121;
    height: 70%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
  }
   /*Text*/
   .text-title {
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .text-body {
    font-size: 1rem;
    line-height: 130%;
  }
  .card100 {
    justify-content: center;
    display: flex;
    margin-top: 60px;
        height: 254px;
        width: 190px;
      position: relative;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 16px;
        box-shadow: 0 0 20px 8px #d0d0d0;
        overflow: hidden;
      }
        /* Hover states */
  .card100:hover .card-description {
    transform: translateY(100%);
  }

  /* Doctor */
  .docard{
    justify-content: center;
        display: flex;
    margin-top: 60px;
    gap: 150px;
  }
.card-container {
    width: 400px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
    .card99 {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  .card99 .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card99 .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card99 .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  .card99 .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card99:hover .content {
    transform: translateY(0);
  }
  
  .card99:hover .front-content {
    transform: translateX(20%);
  }
  
  .card99:hover .front-content p {
    opacity: 0;
  } 
  .continue-application1 {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
  }
  
  .continue-application1 > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application1 > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application1 > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application1 > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application1 > div .folder:before, .continue-application1 > div .folder:after,
  .continue-application1 > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application1 > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application1 > div .folder:after,
  .continue-application1 > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application1 > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application1 > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application1 > div .folder .paper:before, .continue-application1 > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application1 > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application1 > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application1 > div .pencil:before, .continue-application1 > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application1 > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application1 > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application1:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application1:after {
    --r: 45deg;
  }
  
  .continue-application1:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }
  .continue-application1{
  position: absolute;
  margin-left: 60px;
  margin-top: 60px;
  }
  .space{
    padding-bottom: 130px;
  }
  /* contact us*/
  
/*login page*/

.login-wrap{
	width:100%;
	margin:auto;
	max-width:625px;
	min-height:670px;
	position:relative;
	background:url(img/17.avif) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}



.bgtext {
  position: relative;
  height: 100vh; /* 100% of the viewport height */
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  

  padding: 20px; /* Add padding to the text container */
  border-radius: 10px; /* Optional: Add rounded corners to the text container */
}

.text-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  background-color: transparent;
}

.text-container p {
  font-size: 1.5em;
  line-height: 1.5;
}





.main-container1 {
  display: flex;
  justify-content: space-around; /* Adjust as needed, e.g., space-between, space-evenly */
  align-items: center;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
  background-color: #80e4d8;
  padding: 30px 0;
}
.main-container1 h2 {
  background: transparent;
  font-size: 24px;
  color: white;
  align-items: center;
}
.card6 {
  height: 250px;
  width: 300px; /* Set a fixed width for the cards */
  margin: 20px; /* Add margin for spacing between cards */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.rating1 {
  margin-bottom: 10px;
}
.rating1 li {
  color: gold; /* Set the color to yellow */
  
}
.rating1 ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.rating1 ul li {
  margin-right: 5px;
}


.desc1 {
  margin-top: 10px;
}

.read-more1 {
  margin-top: 10px;
}

.readMore1 {
  text-decoration: none;
  color: #007bff;
}

.readMore1:hover {
  text-decoration: underline;
}


